<!DOCTYPE html>
<!--[if IE 9]><html class="ie ie9"> <![endif]-->
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="keywords"
          content="pizza, delivery food, fast food, sushi, take away, chinese, italian food, delivery -- John Beer"/>
    <meta name="description" content=""/>
    <meta name="author" content="John Beer"/>
    <title>Foodxxx - Quality delivery or take away food</title>

    <!-- Favicons-->
    <link rel="shortcut icon" th:href="@{/img/favicon.ico}" type="image/x-icon" />
    <link rel="apple-touch-icon" type="image/x-icon" th:href="@{/img/apple-touch-icon-57x57-precomposed.png}" />
    <link rel="apple-touch-icon" type="image/x-icon" sizes="72x72" th:href="@{/img/apple-touch-icon-72x72-precomposed.png}" />
    <link rel="apple-touch-icon" type="image/x-icon" sizes="114x114" th:href="@{/img/apple-touch-icon-114x114-precomposed.png}" />
    <link rel="apple-touch-icon" type="image/x-icon" sizes="144x144" th:href="@{/img/apple-touch-icon-144x144-precomposed.png}" />

    <!-- GOOGLE WEB FONT -->
    <link href='https://fonts.googleapis.com/css?family=Lato:400,700,900,400italic,700italic,300,300italic' rel='stylesheet' type='text/css' />
    <link href='http://fonts.googleapis.com/css?family=Gochi+Hand' rel='stylesheet' type='text/css' />

    <!-- BASE CSS -->
    <link th:href="@{/css/base.css}" rel="stylesheet" />

    <!--[if lt IE 9]>
    <script th:src="@{/js/html5shiv.min.js}"></script>
    <script th:src="@{/js/respond.min.js}"></script>
    <![endif]-->

    <link th:href="@{/css/skins/square/grey.css}" rel="stylesheet" />

    <th:block layout:fragment="customcss"></th:block>

</head>

<body>
<!--[if lte IE 8]>
<p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a>.</p>
<![endif]-->

<div id="preloader">
    <div class="sk-spinner sk-spinner-wave" id="status">
        <div class="sk-rect1"></div>
        <div class="sk-rect2"></div>
        <div class="sk-rect3"></div>
        <div class="sk-rect4"></div>
        <div class="sk-rect5"></div>
    </div>
</div><!-- End Preload -->

<div th:include="fragments/menu_home :: menu_home"></div>

<!-- SubHeader =============================================== -->
<section class="parallax-window" id="short" data-parallax="scroll" data-image-src="img/sub_header_cart.jpg" data-natural-width="1400" data-natural-height="350">
    <div id="subheader">
        <div id="sub_content">
            <h1 layout:fragment="page_title">About us</h1>
            <p layout:fragment="page_sub_title">Qui debitis meliore ex, tollit debitis conclusionemque te eos.</p>
            <p></p>
        </div><!-- End sub_content -->
    </div><!-- End subheader -->
</section><!-- End section -->
<!-- End SubHeader ============================================ -->

<div id="position">
    <!--<div class="container">-->
        <!--<ul>-->
            <!--<li><a href="#0">Home</a></li>-->
            <!--<li><a href="#0">Category</a></li>-->
            <!--<li>Page active</li>-->
        <!--</ul>-->
        <!--<a href="#0" class="search-overlay-menu-btn"><i class="icon-search-6"></i> Search</a>-->
    <!--</div>-->
</div><!-- Position -->

<div layout:fragment="content"></div>

<!-- Footer ================================================== -->
<footer>
    <div th:replace="fragments/footer :: footer"></div>
</footer>
<!-- End Footer =============================================== -->

<div class="layer"></div><!-- Mobile menu overlay mask -->

<!-- Search Menu -->
<div class="search-overlay-menu">
    <span class="search-overlay-close"><i class="icon_close"></i></span>
    <form role="search" id="searchform" method="get">
        <input value="" name="q" type="search" placeholder="Search..." />
        <button type="submit"><i class="icon-search-6"></i>
        </button>
    </form>
</div>
<!-- End Search Menu -->

<!-- COMMON SCRIPTS -->
<script th:src="@{/js/jquery-2.2.4.min.js}"></script>
<script th:src="@{/js/common_scripts_min.js}"></script>
<script th:src="@{/js/functions.js}"></script>
<script th:src="@{/assets/validate.js}"></script>
<script th:src="@{/js/underscore-min.js}"></script>

<!-- SPECIFIC SCRIPTS -->
<th:block layout:fragment="customjs"></th:block>

</body>
</html>