<!DOCTYPE html>
<!--[if IE 9]>
<html class="ie ie9"> <![endif]-->
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="keywords"
          content="pizza, delivery food, fast food, sushi, take away, chinese, italian food, delivery -- John Beer"/>
    <meta name="description" content=""/>
    <meta name="author" content="John Beer"/>
    <title>Foodxxx - Quality delivery or take away food</title>

    <!-- Favicons-->
    <link rel="shortcut icon" th:href="@{/img/favicon.ico}" type="image/x-icon"/>
    <link rel="apple-touch-icon" type="image/x-icon" th:href="@{/img/apple-touch-icon-57x57-precomposed.png}"/>
    <link rel="apple-touch-icon" type="image/x-icon" sizes="72x72" th:href="@{/img/apple-touch-icon-72x72-precomposed.png}"/>
    <link rel="apple-touch-icon" type="image/x-icon" sizes="114x114"
          th:href="@{/img/apple-touch-icon-114x114-precomposed.png}"/>
    <link rel="apple-touch-icon" type="image/x-icon" sizes="144x144" th:href="@{/img/apple-touch-icon-144x144-precomposed.png}"/>

    <!-- GOOGLE WEB FONT -->
    <link href='https://fonts.googleapis.com/css?family=Lato:400,700,900,400italic,700italic,300,300italic'
          rel='stylesheet' type='text/css'/>

    <!-- BASE CSS -->
    <link th:href="@{/css/base.css}" rel="stylesheet"/>

    <!-- Modernizr -->
    <script th:src="@{/js/modernizr.js}"></script>

    <!--[if lt IE 9]>
    <script th:src="@{/js/html5shiv.min.js}"></script>
    <script th:src="@{/js/respond.min.js}"></script>
    <![endif]-->

</head>

<body>

<!--[if lte IE 8]>
<p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
    your browser</a>.</p>
<![endif]-->

<div id="preloader">
    <div class="sk-spinner sk-spinner-wave" id="status">
        <div class="sk-rect1"></div>
        <div class="sk-rect2"></div>
        <div class="sk-rect3"></div>
        <div class="sk-rect4"></div>
        <div class="sk-rect5"></div>
    </div>
</div><!-- End Preload -->

<div th:replace="fragments/menu_home :: menu_home"></div>

<!-- SubHeader =============================================== -->
<section class="header-video">
    <div id="hero_video">
        <div id="sub_content">
            <h1>Order Takeaway or Delivery Food</h1>
            <p>
                Ridiculus sociosqu cursus neque cursus curae ante scelerisque vehicula.
            </p>
            <form method="post" action="list_page.html">
                <div id="custom-search-input">
                    <div class="input-group">
                        <input type="text" class=" search-query" placeholder="Your Address or postal code" />
                        <span class="input-group-btn">
                        <input type="submit" class="btn_search" value="submit" />
                        </span>
                    </div>
                </div>
            </form>
        </div><!-- End sub_content -->
    </div>
    <img src="img/video_fix.png" alt="" class="header-video--media" data-video-src="video/intro" data-teaser-source="video/intro" data-provider="Vimeo" data-video-width="1920" data-video-height="960" />
    <div id="count" class="hidden-xs">
        <ul>
            <li><span class="number">2650</span> Restaurant</li>
            <li><span class="number">5350</span> People Served</li>
            <li><span class="number">12350</span> Registered Users</li>
        </ul>
    </div>
</section><!-- End Header video -->
<!-- End SubHeader ============================================ -->

<div layout:fragment="content"></div>

<!-- Footer ================================================== -->
<footer>
    <div th:replace="fragments/footer :: footer"></div>
</footer>
<!-- End Footer =============================================== -->

<!-- Login modal -->
<div class="modal fade" id="login_2" tabindex="-1" role="dialog" aria-labelledby="myLogin" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content modal-popup">
            <a href="#" class="close-link"><i class="icon_close_alt2"></i></a>
            <form th:action="@{/login}" class="popup-form" id="myLogin" method="post">
                <div class="login_icon"><i class="icon_lock_alt"></i></div>
                <input type="text" class="form-control form-white" name="username" placeholder="Username" />
                <input type="text" class="form-control form-white" name="password" placeholder="Password" />
                <div class="text-left">
                    <a href="#">Forgot Password?</a>
                </div>
                <button type="submit" class="btn btn-submit">Submit</button>
            </form>
        </div>
    </div>
</div><!-- End modal -->

<!-- Register modal -->
<div class="modal fade" id="register" tabindex="-1" role="dialog" aria-labelledby="myRegister" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content modal-popup">
            <a href="#" class="close-link"><i class="icon_close_alt2"></i></a>
            <form action="#" class="popup-form" id="myRegister">
                <div class="login_icon"><i class="icon_lock_alt"></i></div>
                <input type="text" class="form-control form-white" placeholder="Name" />
                <input type="text" class="form-control form-white" placeholder="Last Name" />
                <input type="email" class="form-control form-white" placeholder="Email" />
                <input type="text" class="form-control form-white" placeholder="Password"  id="password1" />
                <input type="text" class="form-control form-white" placeholder="Confirm password"  id="password2" />
                <div id="pass-info" class="clearfix"></div>
                <div class="checkbox-holder text-left">
                    <div class="checkbox">
                        <input type="checkbox" value="accept_2" id="check_2" name="check_2" />
                        <label for="check_2"><span>I Agree to the <strong>Terms &amp; Conditions</strong></span></label>
                    </div>
                </div>
                <button type="submit" class="btn btn-submit">Register</button>
            </form>
        </div>
    </div>
</div><!-- End Register modal -->

<!-- COMMON SCRIPTS -->
<script th:src="@{/js/jquery-2.2.4.min.js}"></script>
<script th:src="@{/js/common_scripts_min.js}"></script>
<script th:src="@{/js/functions.js}"></script>
<script th:src="@{/assets/validate.js}"></script>

<!-- SPECIFIC SCRIPTS -->
<script th:src="@{/js/video_header.js}"></script>
<script>
    $(document).ready(function() {
        'use strict';
        HeaderVideo.init({
            container: $('.header-video'),
            header: $('.header-video--media'),
            videoTrigger: $("#video-trigger"),
            autoPlayVideo: true
        });

    });
</script>

</body>
</html>