<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<body>

<div th:fragment="menu_home">

    <header>
        <div class="container-fluid">
            <div class="row">
                <div class="col--md-4 col-sm-4 col-xs-4">
                    <a th:href="@{/}" id="logo">
                        <img src="/img/logo.png" width="190" height="23" alt="" data-retina="true" class="hidden-xs" />
                        <img src="/img/logo_mobile.png" width="59" height="23" alt="" data-retina="true" class="hidden-lg hidden-md hidden-sm" />
                    </a>
                </div>
                <nav class="col--md-8 col-sm-8 col-xs-8">
                    <a class="cmn-toggle-switch cmn-toggle-switch__htx open_close" href="javascript:void(0);"><span>Menu mobile</span></a>
                    <div class="main-menu">
                        <div id="header_menu">
                            <img src="/img/logo.png" width="190" height="23" alt="" data-retina="true" />
                        </div>
                        <a href="#" class="open_close" id="close_in"><i class="icon_close"></i></a>
                        <ul>
                            <li><a th:href="@{/}">Home</a></li>
                            <li><a th:href="@{/restaurant}">Restaurants</a> </li>
                            <li><a th:href="@{/about}">About us</a></li>
                            <li sec:authorize="isAnonymous()"><a th:href="@{/login}">Login</a></li>
                            <li sec:authorize="isAuthenticated()"><a th:href="@{/logout}">Logout <span sec:authentication="name"></span></a></li>
                            <li sec:authorize="hasRole('ROLE_ADMIN')"><a th:href="@{/admin}">Admin</a> </li>
                            <li sec:authorize="hasRole('ROLE_USER')"><a th:href="@{/user/admin}">Management</a> </li>
                        </ul>
                    </div><!-- End main-menu -->
                </nav>
            </div><!-- End row -->
        </div><!-- End container -->
    </header>
</div>
</body>
</html>