<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<body>

<div class="theiaStickySidebar" th:fragment="shoppingcart (shoppingcart, step, orderTotal)">
    <div id="cart_box" >
        <h3>Your order <i class="icon_cart_alt pull-right"></i></h3>
        <table class="table table_summary" id="tblCart">
            <tbody>
            <tr th:each="item: ${shoppingcart}">
                <td><a href="#0" name="btnRemoveCartItem" th:attr="itemid=${item.id}" class="remove_item"><i class="icon_minus_alt"></i></a> <strong><th:block th:text="${item.qty}"></th:block>x</strong> <th:block th:text="${item.name}"></th:block>
                </td><td><strong class="pull-right" th:text="${item.cost}"></strong></td></tr>
            </tbody>
        </table>
        <hr />

        <table class="table table_summary">
            <tbody>
            <tr>
                <td class="total">
                    TOTAL <span class="pull-right">$<span id="orderTotal" th:text="${orderTotal}"></span> </span>
                </td>
            </tr>
            </tbody>
        </table>
        <hr />

        <a th:if="${step} == 1" class="btn_full" th:href="@{/login}" sec:authorize="isAnonymous()">Login to order</a>
        <a th:if="${step} == 1" class="btn_full" th:href="@{/order/cart1}" sec:authorize="isAuthenticated()">Order now</a>
        <a th:if="${step} == 2" class="btn_full" href="#" onclick="submitForm();">Go to checkout</a>
        <a th:if="${step} == 3" class="btn_full" href="#" onclick="submitCharge()" >Confirm Your Order</a>
    </div>
</div>

</body>
</html>