<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/layout_static">

<body>

<th:block layout:fragment="customcss">
    <link th:href="@{/css/admin.css}" rel="stylesheet" />
</th:block>

<h1 layout:fragment="page_title">Welcome to User Portal</h1>
<p layout:fragment="page_sub_title">Check your orders here</p>


<div class="container margin_60" layout:fragment="content">


    <div id="tabs" class="tabs">
        <nav>
            <ul>
                <li><a href="#section-1" class="icon-profile"><span>Tracking</span></a></li>
                <li><a href="#section-2" class="icon-profile"><span>Update user information</span></a></li>
            </ul>
        </nav>

        <div class="content">

            <section id="section-1">
                <table class="table table-striped cart-list">
                    <thead>
                    <tr><th>Order #</th><th>Customer Name</th><th>Address</th><th>Status</th></tr>
                    </thead>
                    <tbody>
                    <tr th:each="foodOrder : ${foodOrders}">
                        <td><span th:text="${foodOrder.id}"></span> </td>
                        <td ><span th:text="${foodOrder.orderUser.firstName}"></span></td>
                        <td ><span th:text="${foodOrder.address}"></span></td>
                        <td ><span th:text="${foodOrder.status}"></span></td>
                    </tr>
                    </tbody>
                </table>
            </section>

            <section id="section-2">
                <form action="#" th:action="@{/user/update}" th:object="${user}" method="POST">
                    <div class="row">
                        <div class="col-md-6 col-sm-6">
                            <div class="form-group" th:attrappend="class=${#fields.hasErrors('password') ? ' has-error' : ''}">
                                <label class="control-label">Password <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></span></label>
                                <input th:type="password" class="form-control" th:field="*{password}" placeholder="Password" />
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <div class="form-group" th:attrappend="class=${#fields.hasErrors('passwordAgain') ? ' has-error' : ''}">
                                <label class="control-label">Confirm password <span th:if="${#fields.hasErrors('passwordAgain')}" th:errors="*{passwordAgain}"></span></label>
                                <input th:type="password" class="form-control" th:field="*{passwordAgain}" placeholder="Confirm password" />
                            </div>
                        </div>
                    </div>

                    <div id="pass-info" class="clearfix"></div>
                    <hr style="border-color:#ddd;" />
                    <div class="text-center"><button class="btn_full_outline">Submit</button></div>
                </form>
            </section>
        </div>
    </div>
</div>

<th:block layout:fragment="customjs">
    <script th:src="@{/js/tabs.js}"></script>
    <script th:src="@{/js/admin_user.js}"></script>
</th:block>
</body>
</html>