<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/layout_static">

<body>

<th:block layout:fragment="customcss">
    <link th:href="@{/css/admin.css}" rel="stylesheet" />
</th:block>

<h1 layout:fragment="page_title">Welcome to Admin Portal</h1>
<p layout:fragment="page_sub_title">Manage Restaurant and Menu here</p>


<div class="container margin_60" layout:fragment="content">

    <div id="tabs" class="tabs">
        <nav>
            <ul>
                <li><a href="#section-1" class="icon-profile"><span>Restaurants</span></a>
                </li>
                <li><a href="#section-2" class="icon-menut-items"><span>Tracking</span></a>
                </li>
                <li><a href="#section-3" class="icon-settings"><span>Customers</span></a>
                </li>
            </ul>
        </nav>

        <div class="content">
            <section id="section-1">
                <div class="text-center"><a th:href="@{/admin/restaurant/new}" class="btn_full_outline">New Restaurant</a></div>
                <table class="table table-striped cart-list">
                    <thead>
                    <tr><th>Name</th><th>Tel</th><th>Address</th><th>option</th></tr>
                    </thead>
                    <tbody>
                    <tr th:each="restaurant : ${restaurants}">
                        <td><span th:text="${restaurant.name}"></span> </td>
                        <td ><span th:text="${restaurant.tel}"></span></td>
                        <td ><span th:text="${restaurant.address}"></span></td>
                        <td ><span th:if="${restaurant.delivery}">Delivery</span>&nbsp;<span th:if="${restaurant.takeAway}">Takeaway</span>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </section>

            <section id="section-2">
                <table class="table table-striped cart-list">
                    <thead>
                    <tr><th>Order #</th><th>Customer Name</th><th>Address</th><th>Status</th></tr>
                    </thead>
                    <tbody>
                    <tr th:each="foodOrder : ${foodOrders}">
                        <td><span th:text="${foodOrder.id}"></span> </td>
                        <td ><span th:text="${foodOrder.orderUser.firstName}"></span></td>
                        <td ><span th:text="${foodOrder.address}"></span></td>
                        <td ><span th:text="${foodOrder.status}"></span></td>
                    </tr>
                    </tbody>
                </table>
            </section>

            <section id="section-3">
                <table class="table table-striped cart-list">
                    <thead>
                        <tr><th>Name</th><th>Email</th><th>Action</th></tr>
                    </thead>
                    <tbody>
                        <tr th:each="customer : ${customers}">
                            <td><span th:text="${customer.firstName} + ' ' + ${customer.lastName}"></span> </td>
                            <td ><span th:text="${customer.email}"></span></td>
                            <td>
                                <a th:if="${customer.active}" href="#" th:onclick="'javascript:switchCustomerStatus(\'' + ${customer.id} + '\', false)'"><span aria-hidden="true" class="icon_close_alt2"></span> </a>
                                <a th:if="${not customer.active}" href="#" th:onclick="'javascript:switchCustomerStatus(\'' + ${customer.id} + '\', true)'"><span aria-hidden="true" class="icon_check_alt2"></span> </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </section>
        </div>
    </div>
</div>

<th:block layout:fragment="customjs">
    <script th:src="@{/js/tabs.js}"></script>
    <script th:src="@{/js/admin.js}"></script>
</th:block>
</body>
</html>