<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/layout_static">

<body>

<h1 layout:fragment="page_title">Welcome Back</h1>
<p layout:fragment="page_sub_title">login to system</p>

<div layout:fragment="content">
    <form th:action="@{/login}" class="popup-form" id="myLogin" method="post">

        <div class="login_icon"><i class="icon_lock_alt"></i></div>
        <label class="has-error" th:if="${param.error != null}" th:text="${param.error[0]}"></label>
        <input type="text" class="form-control form-primary" id="username" name="username" placeholder="email" />
        <input type="password" class="form-control form-primary" id="password" name="password" placeholder="Password" />
        <button type="submit" class="btn btn-submit" value="login">Submit</button>
    </form>
</div>
</body>
</html>