<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/layout_static">

<body>

<th:block layout:fragment="customcss">
    <link th:href="@{/css/admin.css}" rel="stylesheet" />
</th:block>

<h1 layout:fragment="page_title">Admin Portal</h1>
<p layout:fragment="page_sub_title">Create new restaurant</p>


<div class="container margin_60" layout:fragment="content">

    <div class="main_title margin_mobile">
        <h2 class="nomargin_top">Please submit the form below</h2>
        <p>
            Fill your restaurant information
        </p>
    </div>

    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <form action="#" th:action="@{/admin/restaurant/new}" th:object="${restaurant}" method="POST">
                <div class="row">
                    <div class="col-md-6 col-sm-6">
                        <div class="form-group" th:attrappend="class=${#fields.hasErrors('name') ? ' has-error' : ''}">
                            <label class="control-label">Restaurant name <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span></label>
                            <input th:type="text" class="form-control" th:field="*{name}" placeholder="Restaurant name" />
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <div class="form-group" th:attrappend="class=${#fields.hasErrors('tel') ? ' has-error' : ''}">
                            <label class="control-label">Restaurant telephone <span th:if="${#fields.hasErrors('tel')}" th:errors="*{tel}"></span></label>
                            <input th:type="text" class="form-control" th:field="*{tel}" placeholder="Restaurant telphone" />
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6 col-sm-6">
                        <div class="form-group" th:attrappend="class=${#fields.hasErrors('email') ? ' has-error' : ''}">
                            <label class="control-label">Restaurant email <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span></label>
                            <input th:type="text" class="form-control" th:field="*{email}" placeholder="Restaurant email" />
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <div class="form-group" th:attrappend="class=${#fields.hasErrors('address') ? ' has-error' : ''}">
                            <label class="control-label">Restaurant address <span th:if="${#fields.hasErrors('address')}" th:errors="*{address}"></span></label>
                            <input th:type="text" class="form-control" th:field="*{address}" placeholder="Restaurant address" />
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6 col-sm-6">
                        <div class="form-group" th:attrappend="class=${#fields.hasErrors('openTime') ? ' has-error' : ''}">
                            <label class="control-label">Restaurant open time <span th:if="${#fields.hasErrors('openTime')}" th:errors="*{openTime}"></span></label>
                            <input th:type="text" class="form-control" th:field="*{openTime}" placeholder="Restaurant open time" />
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <div class="form-group" th:attrappend="class=${#fields.hasErrors('minimalOrder') ? ' has-error' : ''}">
                            <label class="control-label">Minimal Order <span th:if="${#fields.hasErrors('minimalOrder')}" th:errors="*{minimalOrder}"></span></label>
                            <input th:type="text" class="form-control" th:field="*{minimalOrder}" placeholder="Minimal Order" />
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6 col-sm-6">
                        <div class="form-group">
                            <label>Category</label>
                            <select th:field="*{restaurantCategory}" class="form-control">
                                <option th:each="category : ${categories}"
                                        th:value="${category.id}"
                                        th:text="${category.name}" />
                            </select>
                        </div>
                    </div>
                </div>

                <div id="pass-info" class="clearfix"></div>
                <div class="row">
                    <div class="col-md-6">
                        <label><input name="mobile" type="checkbox" value="" class="icheck" th:checked="checked"/>Accept <a href="#0">terms and conditions</a>.</label>
                    </div>
                </div><!-- End row  -->
                <hr style="border-color:#ddd;" />
                <div class="text-center"><button class="btn_full_outline">Submit</button></div>
            </form>
        </div>
    </div>

</div>

</body>
</html>