<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/layout_static">

<body>

<h1 layout:fragment="page_title">Thanks for your order</h1>
<p layout:fragment="page_sub_title">
</p>

<div class="container margin_60_35" layout:fragment="content">
    <div class="row">
        <div class="col-md-offset-3 col-md-6">
            <div class="box_style_2">
                <h2 class="inner">Order confirmed!</h2>
                <div id="confirm">
                    <i class="icon_check_alt2"></i>
                    <h3>Thank you!</h3>
                    <p>
                        Thanks for your order.
                    </p>
                </div>
                <h4>Summary</h4>
                <table class="table table-striped nomargin">
                    <tbody>
                    <tr th:each="item : ${items}">
                        <td>
                            <strong><span th:text="${item.qty}"></span> x</strong> <span th:text="${item.name}"></span>
                        </td>
                        <td>
                            <strong class="pull-right">$<span th:text="${item.cost}"></span> </strong>
                        </td>
                    </tr>
                    <tr>
                        <td class="total_confirm">
                            TOTAL
                        </td>
                        <td class="total_confirm">
                            <span class="pull-right">$<span th:text="${orderTotal}"></span> </span>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div><!-- End row -->
</div><!-- End container -->

</body>
</html>