<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/layout_static">

<head>

    <!-- Radio and check inputs -->
    <link th:href="@{/css/skins/square/grey.css}" rel="stylesheet" />
    <link th:href="@{css/ion.rangeSlider.css}" rel="stylesheet" />
    <link th:href="@{/css/ion.rangeSlider.skinFlat.css}" rel="stylesheet" />
</head>
<body>

<h1 layout:fragment="page_title">Restaurant List</h1>
<p layout:fragment="page_sub_title">Restaurants near your location</p>

<div layout:fragment="content" class="container margin_60_35">
    <div class="row">

        <div class="col-md-3">
            <div id="filters_col">
                <a data-toggle="collapse" href="#collapseFilters" aria-expanded="false" aria-controls="collapseFilters" id="filters_col_bt">Filters <i class="icon-plus-1 pull-right"></i></a>
                <div class="collapse" id="collapseFilters">
                    <div class="filter_type">
                        <h6>Type</h6>
                        <ul>
                            <th:block th:each="category : ${restaurantCategoriesList}">
                                <li><label><input type="checkbox" class="icheck"><th:block th:text="${category.categoryName}"></th:block> <small>(<th:block th:text="${category.total}"></th:block>)</small></input></label><i class="color_1"></i></li>
                            </th:block>
                        </ul>
                    </div>
                    <div class="filter_type">
                        <h6>Options</h6>
                        <ul class="nomargin">
                            <li><label><input type="checkbox" class="icheck">Delivery</input></label></li>
                            <li><label><input type="checkbox" class="icheck">Take Away</input></label></li>
                        </ul>
                    </div>
                </div><!--End collapse -->
            </div><!--End filters col-->
        </div><!--End col-md -->

        <div class="col-md-9">


            <div class="strip_list wow fadeIn" data-wow-delay="0.3s" th:each="restaurant : ${restaurantlist}">
                <div class="row">
                    <div class="col-md-9 col-sm-9">
                        <div class="desc">
                            <div class="thumb_strip">
                                <a href="detail_page.html"><img src="img/thumb_restaurant_3.jpg" alt=""/></a>
                            </div>
                            <h3><th:block th:text="${restaurant.name}"></th:block></h3>
                            <div class="type">
                                <span th:text="${restaurant.restaurantCategory.name}"></span>
                            </div>
                            <div class="location">
                                <span th:text="${restaurant.address}"></span>. <span class="opening">Opens at <span th:text="${restaurant.openTime}"></span>.</span> Minimum order: $<span th:text="${restaurant.minimalOrder}"></span>
                            </div>
                            <ul>
                                <th:block th:switch="${restaurant.takeAway}">
                                    <th:block th:case="${true}">
                                        <li>Take away<i class="icon_check_alt2 ok"></i></li>
                                    </th:block>
                                    <th:block th:case="${false}">
                                        <li>Take away<i class="icon_check_alt2 no"></i></li>
                                    </th:block>
                                </th:block>
                                <th:block th:switch="${restaurant.delivery}">
                                    <th:block th:case="${true}">
                                        <li>Delivery<i class="icon_check_alt2 ok"></i></li>
                                    </th:block>
                                    <th:block th:case="${false}">
                                        <li>Delivery<i class="icon_check_alt2 no"></i></li>
                                    </th:block>
                                </th:block>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-3">
                        <div class="go_to">
                            <div>
                                <a th:href="@{/restaurant_menu(id=${restaurant.id})}" class="btn_1">View Menu</a>
                            </div>
                        </div>
                    </div>
                </div><!-- End row-->
            </div>

            <a href="#0" class="load_more_bt wow fadeIn" data-wow-delay="0.2s">Load more...</a>
        </div><!-- End col-md-9-->

    </div><!-- End row -->
</div><!-- End container -->
</body>
</html>