<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      layout:decorator="layouts/layout_static">

<head>

</head>
<body>

<h1 layout:fragment="page_title">Restaurant Menu List</h1>
<p layout:fragment="page_sub_title">Menu details</p>

<div class="container margin_60_35" layout:fragment="content">
    <div class="row">
        <div class="col-md-3">
            <p><a th:href="@{/restaurant}" class="btn_side">Back to list</a></p>

            <div class="box_style_2 hidden-xs" id="help">
                <i class="icon_lifesaver"></i>
                <h4>Need <span>Help?</span></h4>
                <a href="tel://004542344599" class="phone"><th:block th:text="${restaurant.tel}" /></a>
                <small><th:block th:text="${restaurant.openTime}" /></small>
            </div>
        </div><!-- End col-md-3 -->

        <div class="col-md-6">
            <div class="box_style_2" id="main_menu">
                <h2 class="inner">Menu</h2>
                <form th:name="formOrder" th:action = "@{/order/addtocart}"  th:each="menu : ${restaurant.menuItemList}">
                    <input th:type="hidden" id="menuId" name="menuId" th:value="${menu.id}"/>
                    <table class="table table-striped cart-list" >
                        <thead>
                        <tr>
                            <th>
                                Item
                            </th>
                            <th>
                                Price
                            </th>
                            <th>
                                Order
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>
                                <figure class="thumb_menu_list"><img src="/img/menu-thumb-1.jpg"/></figure>
                                <h5><th:block th:text="${menu.name}"></th:block></h5>
                                <p th:text="${menu.description}"></p>
                            </td>
                            <td>
                                <strong th:text="${menu.price}"></strong>
                            </td>
                            <td class="options">
                                <div class="dropdown dropdown-options">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true"><i class="icon_plus_alt2"></i></a>
                                    <div class="dropdown-menu">
                                        <h5>Select an option</h5>
                                        <label th:each="option : ${menu.menuOptions}">
                                            <input type="checkbox" th:value="${option.id}" name="menuOptionIds"><th:block th:text="${option.name}" /> <span>+ <th:block th:text="${option.cost}" /></span></input>
                                        </label>

                                        <a sec:authorize="isAuthenticated()" href="#0" class="add_to_basket" th:name="btnAddToCart">Add to cart</a>
                                        <a sec:authorize="isAnonymous()" th:href="@{/login}" class="add_to_basket">Login to order</a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </form>
            </div>
        </div>

        <div class="col-md-3" id="sidebar">
            <div th:replace="fragments/shoppingcart :: shoppingcart (${shoppingcart}, 1, 0)"/>
        </div>
    </div>
</div>

<th:block layout:fragment="customjs">
    <script  th:src="@{js/cat_nav_mobile.js}"></script>
    <script>$('#cat_nav').mobileMenu();</script>
    <script th:src="@{js/theia-sticky-sidebar.js}"></script>
    <script>
        jQuery('#sidebar').theiaStickySidebar({
            additionalMarginTop: 80
        });
    </script>
    <script>
        $('#cat_nav a[href^="#"]').on('click', function (e) {
            e.preventDefault();
            var target = this.hash;
            var $target = $(target);
            $('html, body').stop().animate({
                'scrollTop': $target.offset().top - 70
            }, 900, 'swing', function () {
                window.location.hash = target;
            });
        });
    </script>
    <script  th:src="@{js/order.js}"></script>
    <script src="https://js.stripe.com/v3/"></script>
</th:block>

</body>
</html>